.logo {

    float: left;
    padding-left: 40px;
    padding-top: 20px;
    max-width: 100%;
}

.logo p {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 0;  
    padding: 0;
    font-family: "bignoodletitling";
}

.logo {
    float: left;
    padding-left: 40px;
    padding-top: 20px;
    max-width: 100%;
}

body {
    background-color: #2E3440;
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}
